$white:       #FFFFFF;
$offwhite:    #FAF8F6;
$deco:        #C9D787;
$olive:       #7D8A2E;
$wax_flower:  #FFC0A9;
$pink:        #FF8598;
$crimson:     #FF4A36;
$yellow:      #FFB704;
$gray:        #91887C;

$fw-light:    300;
$fw-normal:   400;
$fw-heavy:    900;